@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-primaria: #1a1a2e;
    --cor-secundaria: #16213e;
    --cor-destaque: #e94560;
    --cor-texto: #ffffff;
}